<div id="top-nav-bar" class="top-nav-bar-bg top-nav-bar-c">
  <div class="container signup-nav-bar-c">
  <div class="signup-t-image">
  	<a href="/twitter"><img class="t-inner-image" src="../../images/twitter-snow.svg"></a>
  </div>
	<div class="signup-nav-bar-c">
		<ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="signInUrl" aria-haspopup="true">
            	<small>Have an account?</small> <medium>Log in</medium><span class="caret"></span>
            </a>
            <div class="dropdown-menu">
            <div class="dropdown-caret right container-fluid"> <span class="caret-outer"></span> <span class="caret-inner"></span> </div>
            	<div class="login-drop-down">
	              <div class="rows">
				  		<div class="col-md-12">
				  		<form id="signin-dropdown-form" role="form" method="POST" action="/signIn" class="signin-dropdown-form-c form-group">
				  			<div class="question">Have an account?</div>
				  		
							<div class="field-wrapper">
						        <div class="field">
						            <input id="full-name" type="text" autocomplete="off" value="" name="username" maxlength="20" aria-required="true" placeholder="Email or Phone" class="form-control">
					            </div>
				            </div>
				            
				            <div class="field-wrapper">
						        <div class="field">
						            <input id="password" type="text" autocomplete="off" value="" name="password" maxlength="20" aria-required="true" placeholder="Password" class="form-control">
					            </div>
				            </div>
				            
				            <div class="forgot-pwd">
					        <a class="forgot" href="#">Forgot password?</a>
			            	</div>
				            <div class="field-wrapper">
						        <div class="field">
						            <input role="button" type="submit" class="btn signin-button" value="Sign In"/>
					            </div>
				            </div>
				         </form>
						</div>
					</div>
				</div>
       		 </div>
         </li>
       </ul>
	</div>
  </div>
 </div>