<div id="top-nav-bar" class="top-nav-bar-bg">
  <div class="container signin-nav-bar-c clearfix">
  <div class="t-image-div">
  	<img class="t-image" src="../../images/twitter-snow.svg">
  	<div class="first-signup-button-container">
		<a class="first-signup-button" href="/signUpPage">Sign up</a>
	</div>
  </div>
	<div class="first-page">
      <div class="first-page-content">
        <h2 class="first-page-header">See what's happening right now.</h2>
          <p class="first-page-p">Find community, conversation and inspiration about the things you love.</p>
      </div>
	</div>
  </div>
 </div>